/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url('../../static/img/memorial_america_latina.jpg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--ifm-hero-background-color);
  background-blend-mode: hard-light;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  font-size: 0.75rem;
  color: var(--ifm-link-color);
  text-align: center;
  margin-top: 1rem;
}